@model WebApplication3.Models.UserRegister
@{
    ViewData["Title"] = "Home Page";
}

<form asp-asp-controller="Home" asp-controller="SubmitForm" method="post">
    <div>
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" />
    </div>
    <div>
        <label for="email">Email:</label>
        <input type="text" id="email" name="email" />
    </div>
    <div>
        <label for="age">Age:</label>
        <input type="text" id="age" name="age" />
    </div>
    <div>
        <label for="pass">Password:</label>
        <input type="password" id="pass" name="pass" />
    </div>
    <div>
        <label for="confPass">ConfirmPassword:</label>
        <input type="password" id="confPass" name="confPass" />
    </div>
    <button type="submit">Submit</button>
</form>


